@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container{
    max-width: $container-width;
    margin: 0 auto;
    overflow: hidden;
    padding-left: $container-padding;
    padding-right: $container-padding;

    &-fluid {
        width: 100%;

        &--primary {
            background-color: #DCE9E2;
        }
        &--secondary {
            background-color: #F7F9F9;
        }
        &--third {
            background-color: #FFFAF1;
        }
        &--four {
            background-color: $primary-color;
        }

        &--scroll {
            background-color: $primary-color;
            position: fixed;
            height: $header-height;
            transition: 0.1s linear;
            z-index: 10;
        }
    }
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

// @media only screen and (min-width: 768px) and (max-width: 1023px){
//     .container {
//         &--850 {
//             max-width: 850px;
//         }
//     }
// }

@media only screen and (max-width: 767px){
    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
}
