@import './variables';

.hero {
    display: flex;
    margin-top: $header-height;
    position: relative;

    &__text {
        margin-top: 8rem;
        padding-right: 5rem;

        &__heat {
            font-size: 1.4rem;
            font-weight: 700;
            color: $primary-color;
            letter-spacing: 0.08em;
            margin-bottom: 1.6rem;
        }

        &__title {
            font-weight: 700;
            font-size: 5.2rem;
            color:  $secondary-color;
            margin-bottom: 2.4rem;
        }

        &__subtitle {
            font-size: 1.8rem;
            font-weight: 400;
            color: $secondary-color;
            margin-bottom: 3.2rem;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.7rem 3.2rem;
            width: 26.3rem;
            transition: 0.15s;

            &:hover {
                background-color: #00453A;
            }
        }

        &__link {
            color: white;
        }
    }

    &__image {
        padding-right: 3rem;
        padding-bottom: 5.5rem;
    }

    &__numbers {
        position: absolute;
        bottom: calc(#{-$numbers-height} / 2);
        left: 50%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border: 1px solid black; //DCE9E2
        border-radius: 6px;
        padding: 6rem 12rem;
        height: $numbers-height;
        transform: translateX(-50%);
        width: 110.3rem;
        z-index: 7;

        &__group {
            position: relative;
            text-align: center;

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: #00856F;
                right: -50%;
                top: 0;
                opacity: 0.5;
            }
        }

        &__title {
            font-size: 4.8rem;
            font-weight: 700;
            color: $secondary-color;
            text-align: center;
        }

        &__text {
            font-size: 1.6rem;
            font-weight: 400;
            color: $primary-color;
            padding-top: 0.4rem;
        }
    }
}

@media only screen and (max-width: 767px){
    .hero {
        flex-direction: column;

        &__text {
            text-align: center;
            padding-right: unset;

            &__btn {
                margin: 0 auto;
            }

            &__title {
                font-size: 3.4rem;
            }
        }

        &__numbers {
            flex-direction: column;
            width: 87%;
            padding: 4rem 7rem;
            height: $numbers-height-mobile;
            bottom: calc(-#{$numbers-height-mobile} / 2);

            &__group {
                margin-bottom: 6rem;

                &:last-of-type {
                    margin-bottom: unset;
                }
            }
        }

        &__image {
            padding-right: unset;

            & img {
                width: 80%;
                margin-top: 6rem;
                margin-left: 50%;
                transform: translateX(-50%);
                margin-bottom: 18rem;
            }
        }
    }
}